.App {
  text-align: center;
}

body, html {
  height: 100%;
  margin: 0;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}






.cover-text{
  justify-content: center;
  display: flex;
  align-items: center;
  color: white;
  position: absolute;
  width: 80%;
  height: 300px;
  top: 200px;
  left: 100px;
  flex-direction: column;
}

.cover-text h3{
  font-size: 40px;
  font-family: inherit;
  font-weight: 700;
}


.cover-text p{
  width: 500px;
  text-align: center;
}



.btn-primary{
  width: 200px;
    height: 60px;
    color: #fff;
    background-color: #00000000;
    border-color: #007bff;
}





.nav-link ,.navbar-brand{
  color: white !important;
}

.skills{
  padding-top: 60px;
  height: 650px;
  color: white;
  /* margin-bottom: 140px; */
}

.skills img{
  margin-top: 40px;
  border-radius: 50%;
  height: 200px;
  width: 250px;
  margin-bottom: 20px;
}

.skills h5{
  
  margin-top: 40px;
  /* width: 280px; */
  height: 60px;
  font-size: 30px;
  font-family: inherit;
  font-weight: bolder;
 
}


.skills h3{
  height: 60px;
  font-size: 30px;
  font-family: inherit;
  font-weight: bolder;
  color: #090c15;
}

.first-container,.second-container,.third-container{
  height: 350px;
  background-color: #090c15;
  border: ridge;
}


.projects-parent{
 
  background-color: #ffffff0f;
  

}



.projects-parent h5{
  margin-top: 40px;
  /* width: 280px; */
  height: 60px;
  font-size: 30px;
  font-family: inherit;
  font-weight: bolder;
 
}



.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    position: relative;
    width: 100%;
    /* padding-right: 0px !important;
    padding-left: 0px !important; */
}

.card-first{
  
  margin-left: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 450px !important;
}



.div_hover { background-color: #FFFFFF; }

.div_hover:hover { background-color: #282c34;
color: white }



.contact-us{
  background-color: aliceblue;
}

.contact p{
  text-align: center;
}

/* @media (min-width:48em){
  .cover-text{
    width: 100px;
    margin: 0px !important;
  }
} */

.about-me {
  background-color: #282c34;  

}

.about-me h3,h2{
  text-align: center;
  font-style: inherit;
  /* margin-top: 1240px; */
  width: 280px;
  height: 60px;
  font-size: 30px;
  font-family: inherit;
  font-weight: bolder;
}

.second-para{
  color: white;
}



.second-para h3{
  color: white;
}


.about-me h2{
  color: white;
}

.description{
  display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 180px;
}

.MuiInputBase-multiline {
  width: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact{
  background-color: #dedede;
  color: black;

}



.contact button{
  margin-top: 30px;
  color: #e4e4e4;
  background-color: #3f51b5;
  border-color: blanchedalmond;
  width: 300px;
}




.contact h5{
  /* margin-top: 40px; */
  /* width: 280px; */
  height: 60px;
  font-size: 30px;
  font-family: inherit;
  font-weight: bolder;
 
}

/* img{
  border-radius: 50%;
} */




.bg {
  /* The image used */
  background-image: url("./../src/assets/cover2.jpg");
background-size: cover;
  /* Full height */
  height: 750px; 
width: 100%;
  /* Center and scale the image nicely */
  background-repeat: no-repeat;
  /* background-size: cover; */
}

.bg-light{
  background-color: #00000000 !important;
  color: white;
}





@media (min-width:320px ) and (max-width: 767px) {


.bg{
  height: 300px;
  width: 100%;
}

.cover-text h3{
  font-size: 15px !important;
  font-family: inherit;
  width: 100px;
  /* font-weight: 700; */
}

.cover-text{
  justify-content: center;
  display: flex;
  align-items: center;
  color: white;
  width: 100%;
  /* height: 50px; */
  top: 20px;
  left: 0px;
}

.cover-text p{
  width: 300px;
  text-align: center;
}




.contact{
  background-color: #dedede;
  color: black;
  margin-top: 570px;

}


.projects-parent img{
  width: 100%;
  height: 100%;
}



}





@media (min-width:768px ) and (max-width: 991px) {
 
  .contact{
    background-color: #dedede;
    color: black;
    margin-top: 570px;
  
  }

.cover-text{
  justify-content: center;
  display: flex;
  align-items: center;
  text-align: center;
  color: white;
  width: 100%;
  height: 50px;
  top: 150px;
  left: 0px;
}

.cover-text h3{
  font-size: 25px !important;
  font-family: inherit;
  width: 100px;
  /* font-weight: 700; */
}


.projects-parent img{
  width: 100%;
  height: 100%;
}

.bg{
  height: 300px;
  width: 100%;
}

}



@media (min-width:992px ) and (max-width: 1200px) {

  .projects-parent img{
    width: 50%;
    height: 30%;
  }

 
  
}